@keyframes slidein{ /* This is working on the moviment of the box */
    from{
        left: 0;
        width: 40%;
    }

    25%{                    /********** OPICIONAL ***********/
        left: 5%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 45%;
        width: 50%;
    }

    to{
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout{ /* This is working on the moviment of the box */
    from{
        left: 60%;
        width: 40%;
    }

    25%{                    /********** OPICIONAL ***********/
        left: 45%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 5%;
        width: 50%;
    }

    to{
        left: 0;
        width: 40%;
    }
}


@keyframes displacementLeft{
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25%{
        left: -80px;
        opacity: -5;
    }

    50%{
        left: -100px;
        
    }

    to{
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes displacementRight{
    from{
        left: 0;
        z-index: 13;
    }

    25%{
        left: 80px;
        opacity: -5;
    }

    50%{
        left: 100px;
        
    }

    to{
        left: 110px;
        opacity: 0;
        z-index: -1;
    }
}


/* VERSÃO MOBILE */
@media screen and (max-width: 1040px){
    .content{
        width: 100%;
        height: 100%;
    }

    .content::before{
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }

    .first-content, .second-content{
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column, .second-column{
        width: 100%;
    }

    .sign-in-js .content::before{
        top: 60%;
        left: 0;
        border-radius: 0;
    }

    .form{
        width: 90%;
    }

    /* Animação Mobile CSS */

    @keyframes slidein{ /* This is working on the moviment of the box */
        from{
            top: 0;
            height: 40%;
        }
    
        25%{                    /********** OPICIONAL ***********/
            top: 5%;
            height: 50%;
        }
    
        50%{
            top: 25%;
            height: 60%;
        }
    
        75%{
            top: 45%;
            height: 50%;
        }
    
        to{
            top: 60%;
            height: 40%;
        }
    }
    
    @keyframes slideout{ /* This is working on the moviment of the box */
        from{
            top: 60%;
            height: 40%;
        }
    
        25%{                    /********** OPICIONAL ***********/
            top: 45%;
            height: 50%;
        }
    
        50%{
            top: 25%;
            height: 60%;
        }
    
        75%{
            top: 5%;
            height: 50%;
        }
    
        to{
            top: 0;
            height: 40%;
        }
    }
    
    
    @keyframes displacementLeft{
        from{
            top: 0;
            opacity: 1;
            z-index: 12;
        }
    
        25%{
            top: -80px;
            opacity: -5;
        }
    
        50%{
            top: -100px;
            
        }
    
        to{
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    
    @keyframes displacementRight{
        from{
            top: 0;
            z-index: 13;
        }
    
        25%{
            top: 80px;
            opacity: -5;
        }
    
        50%{
            top: 100px;          
        }
    
        to{
            top: 110px;
            opacity: 0;
            z-index: -1;
        }
    }
    
}