
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content{
    background-color: white;
    border-radius: 15px;

    width: 1000px;
    height: 60%;

    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    background-color: #587baf;
    width: 40%;
    height: 100%; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0%;
}

.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary{
    color: #FFF;
}

.title-second{
    color: #587baf;
}

.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary{
    color: white;
}

.description-second{
    color: #7f8c8d;
}

.decorate-images{
    background-image: url(../images/undraw_proud_coder_7ain.svg) no-repeat;
    padding: 15px;
    position: relative;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary{
    background-color: transparent;
    border: 1px solid #FFF;
    transition: background-color 300ms;
}

.btn-primary:hover{
    background-color: #FFF;
    color: #587baf;
}

.btn-second{
    background-color: #587baf;
    border: 1px solid #587baf;

    transition: background-color 300ms; /* Or .3s */
}

.btn-second:hover{
    background-color: #FFF;
    border: 1px solid #587baf;
    color: #587baf;
}

.first-content .second-column{
    z-index: 12; /* Could be 11 but it has to be more than 10 */
}

.first-content{
    display: flex;
 
}

.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;

}

.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media{
    margin: 1rem 0;
}

.link-social-media:hover .item-social-media{
    background-color: #587baf;
    color: #FFF;
    border-color: #587baf;
}

.link-social-media .item-social-media{
    transition: background-color 300ms;
}

.list-social-media{
    display: flex;
    list-style-type: none;
}

.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.link-social-media:not(:first-child){
    margin-left: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
    border-radius: 5px;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 5px;
}

.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}
/********************** SECOND CONTENT ************************/

.second-content{
    position: absolute;
    display: flex;
}

.second-content .first-column{
    order: 2;
    z-index: -1; /* It works like opacity:0; but with z-index we know that it will be behind the content */
}

.second-content .second-column{
    order: 1;
    z-index: -1;
}

.password{
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter{ /* Let the first letter that is ' F ' big */
    text-transform: capitalize;
}


input:focus {
    border-top: 2px outset #587baf;
    border-bottom: 2px solid #587baf;
}



/* Using sign-in-js */
.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column{
    z-index: -1;
}

.sign-in-js .second-content .first-column{
    z-index: 13;
}

.sign-in-js .second-content .second-column{
    z-index: 11;
}

.sign-in-js .content::before{
    left: 60%;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    animation: slidein 1.5s;

    z-index: 12;
}

.sign-up-js .content::before{
    animation: slideout 1.5s;

    z-index: 12;
}

/* Using sign-up-js */
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
    z-index: -1;
}

.sign-up-js .first-content .first-column{
    z-index: 13;
}

.sign-up-js .first-content .second-column{
    z-index: 11;
}

/* displacement behind content */
.sign-in-js .first-content .second-column{
    z-index: -1;
    position: relative;

    animation: displacementLeft 4s;
}

.sign-up-js .second-content .second-column{
    position: relative;
    z-index: -1;
    animation: displacementRight 4s;
}